@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');


.coverBanner{
    border-radius: 0;
}

.coverDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.coverTitle{
    color: white;
    font-size: 100px;
}