@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');


.coverBanner{
    border-radius: 0;
    border: none;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
    background-color: black;
}

.coverDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.coverTitle{
    color: white;
    font-size: 100px;
}

.coverImage{
    width: 100%;
    height: 15vw;
    object-fit: cover;
    opacity: 0.5;
}